* {
  box-sizing: border-box;
}

html,body {
  margin: 0; 
  height: 100%;  
}

#vizContainer{
  margin: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#vizContainer1, #vizContainer2 {
  margin: 0; 
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  #vizContainer {
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}
  

